<div class="header">
    <h2>Apply for hackathon</h2>
  </div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Your Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Enter your name">
      <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        Name is required
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
  </form>
  